@font-face {
  font-family: 'Bienetresocial';
  src: url('../fonts/Bienetresocial/Bienetresocial.woff2') format('woff2'),
  url('../fonts/Bienetresocial/Bienetresocial.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BienetresocialBold';
  src: url('../fonts/Bienetresocial/BienetresocialBold.woff2') format('woff2'),
  url('../fonts/Bienetresocial/BienetresocialBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hand-Shop';
  src: url('../fonts/Hand-Shop/HandShopTypographyC30_demo.woff2') format('woff2'),
  url('../fonts/Hand-Shop/HandShopTypographyC30_demo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Old-Newspaper';
  src: url('../fonts/Old-Newspaper/OldNewspaperTypes.woff2') format('woff2'),
  url('../fonts/Old-Newspaper/Bienetresocial/OldNewspaperTypes.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DK-Courant';
  src: url('../fonts/Dk-Courant/DKCourant.woff2') format('woff2'),
  url('../fonts/Dk-Courant/DKCourant.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averia-Serif-Light';
  src: url('../fonts/Averia-Serif/AveriaSerif-Light.woff2') format('woff2'),
  url('../fonts/Averia-Serif/AveriaSerif-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Averia-Serif-Bold-Italic';
  src: url('../fonts/Averia-Serif/AveriaSerif-BoldItalic.woff2') format('woff2'),
  url('../fonts/Averia-Serif/AveriaSerif-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Averia-Serif';
  src: url('../fonts/Averia-Serif/AveriaSerif-Regular.woff2') format('woff2'),
  url('../fonts/Averia-Serif/AveriaSerif-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Averia-Serif-Bold';
  src: url('../fonts/Averia-Serif/AveriaSerif-Bold.woff2') format('woff2'),
  url('../fonts/Averia-Serif/AveriaSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Averia-Serif';
  src: url('../fonts/Averia-Serif/AveriaSerif-Italic.woff2') format('woff2'),
  url('../fonts/Averia-Serif/AveriaSerif-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Averia-Serif-Light-Italic';
  src: url('../fonts/Averia-Serif/AveriaSerif-LightItalic.woff2') format('woff2'),
  url('../fonts/Averia-Serif/AveriaSerif-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}


