$black : #000;
$white : #fff;
$bienet: 'Bienetresocial', sans-serif;
$bienetBold: 'BienetresocialBold', sans-serif;
$handShop: 'Hand-Shop', sans-serif;
$oldNews: 'Old-Newspaper', sans-serif;
$dkCourant: 'DK-Courant', sans-serif;
$carolyna: 'Carolyna-Words', sans-serif;
$averiaSerifLight: 'Averia-Serif-Light', sans-serif;
$averiaSerifLightItalic: 'Averia-Serif-Light-Italic', sans-serif;
$averiaSerifBoldItalic: 'Averia-Serif-Bold-Italic', sans-serif;
$averiaSerif: Averia-Serif, sans-serif;
$averiaSerifBold: Averia-Serif-Bold, sans-serif;
$averiaSerifItalic: Averia-Serif-Italic, sans-serif;
$uqlyItalic: UglyQua-Italic, sans-serif;
$uqly: UglyQua, sans-serif;