.sub-header {
  border-bottom: 2px solid $black;
  font-family: $averiaSerif;

  p {
    @media (max-width: 800px) {
      margin-bottom: 10px;
    }
  }
}

.sub-header__price {

  p:last-child {
    margin-bottom: 0;
  }
}

.sub-header-row {
  justify-content: space-between;
  padding: 10px 0 10px 0;

  @media (max-width: 800px) {
    flex-direction: column;
    text-align: center;
  }
}

